body{
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px whitesmoke;
    padding: 10px;
    margin: 10px;
}

.subtext{
    color:wheat;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.buttons{
    margin: 2% auto;
    display: flex;
    flex-wrap:wrap;
    gap: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.compButtons{
    display: flex;
    gap: 20px;
    padding: 3%;
}
.playerButtons{
    display: flex;
    gap: 25px;
    padding: 3%;
}

button{
    font-size: 4rem;
    border: none; 
    padding: 15px;
    transition: 0.3s ease;
}

.rock{
    background-color: rgb(134,139,142);
    border-radius: 50%;
    box-shadow: wheat 5px 8px 15px;
}
.rock:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}

.comprock{
    background-color: rgb(134,139,142);
    border-radius: 50%;
}

.paper{
    background-color:antiquewhite;
    border-radius: 50%;
    box-shadow: wheat 5px 8px 15px;
}
.paper:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}

.comppaper{
    background-color:antiquewhite;
    border-radius: 50%;
}

.scissor{
    background-color: rgb(235,99,160);
    border-radius: 50%;
    box-shadow: wheat 5px 8px 15px;
}
.scissor:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}

.compscissor{
    background-color: rgb(235,99,160);
    border-radius: 50%;
}

.compchoice{
    transition: 0.3s ease;
    transform: scale(1.1); 
    background-color: rgb(36,229,0);
    box-shadow: wheat 5px 8px 15px;
}

.score{
    font-size: 2rem;
    font-family: monospace, Times, serif;
    font-weight: bold;
    font-style: italic;
    margin: 25px auto 0px auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 1px 1px 1px darkgray; 
}

.humanscore{
    color: rgb(49,237,49);
}

.compscore{
    color: rgb(17,167,187);
}

.result{
    color:floralwhite;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px whitesmoke;
    margin: 0px 8px;
}

a{
    text-decoration: none;
    font-size: 2rem;
    color:black;
}

.fa-github{
    transition: 0.3s ease;
}

.fa-github:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.reload{
    visibility: hidden;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    font-family: cursive, sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: cadetblue;
    transition: 0.3s ease;
}

.reload:hover{
    transform: scale(1.1);
}


footer{
    color: wheat;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(79 79 99 / 28%);
    width: 100%;
    margin-top: auto;
}


@media (max-width: 600px){
    body{
        font-family: Roboto, sans-serif;
        position: relative;
        font-size: 1rem;
    }
    h1{
        font-size: 1.8rem;
    }
    button{
        font-size: 2.5rem;
    }
    .score{
        font-size:1.5rem;
    }
    .result{
        font-size: 1.3rem;
    }
    .reload{
        font-family: Roboto, sans-serif;
    }
    
}
