body{
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px whitesmoke;
    padding: 10px;
}

.buttons{
    margin: 30px 8px;
    display: flex;
    gap: 35px;
}

button{
    font-size: 4rem;
    border: 0px solid whitesmoke; 
    padding: 15px;
    transition: 0.3s ease;
}

.rock{
    background-color: rgb(134,139,142);
    border-radius: 50%;
    box-shadow: 4px 3px 3px 5px rgb(134,139,142);
}
.rock:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}
.paper{
    background-color:antiquewhite;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 5px antiquewhite;;
}
.paper:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}

.scissor{
    background-color: rgb(235,99,160);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 5px rgb(235,99,160);
    
}
.scissor:hover{
    background-color: rgb(36,229,0);
    cursor: pointer;
    transform: scale(1.2);
}
.score{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-shadow: 1px 1px 1px darkgray; 
}

.humanscore{
    color: rgb(49,237,49);
    font-family: cursive, Times, serif;
    padding: 20px;
    margin: 10px;
}

.compscore{
    color: rgb(17,167,187);
    font-family: monospace, Times, serif;
    padding: 20px;
    margin: 10px;
}

.result{
    color:antiquewhite;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px whitesmoke;
    margin-top: 35px;
}

.result > p{
    margin: 5px;
    padding: 10px;
}

footer{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.fa-brands{
    font-size: 2rem;
    color: black;
}