html{
    background-color: rgb(2, 14, 31);
    text-align: center;
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin:auto;
}

h1{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px whitesmoke;
    padding: 10px;
}

button{
    font-size: 1.5rem;
    font-family:cursive, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15%;
    border: 2px double whitesmoke; 
    padding: 8px;
    font-weight: 700;
    margin:auto;
}

.rock{
    background-color: rgb(138, 138, 138);
    margin-right: 30px;
}

.paper{
    background-color:antiquewhite;
    margin-right: 30px;
}

.scissors{
    background-color: rgb(237, 104, 206);
}